<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="bg-info">Success User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class=" w-50 m-auto p-4 bg-light ">
    <h1 class="text-center m-4 bg-info"> Successfully Added. </h1>
        <h1 class="m-4 text-center"><a href="/add/" class="btn btn-primary">Add User</a></h1>
        <h1 class="m-4 text-center"><a href="/list/" class="btn btn-primary">User Records</a></h1>
    </div>
</body>
</html>